* {
    margin: 0;
    padding: 0;
}
.body-section{
    display: flex;
    flex-direction: column;
}
.header{
    background-color: #04AA6D;
    width: 100%;
}
.header h2{
    padding: 20px;
    margin-left: 50px;
    color: white;
    text-transform: uppercase;
}
.main-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 5% 5%;
    gap: 20px;
}


.scanner-section {
    width: 50%;
}

.scanner-section video {
    width: 100%;
    border-radius: 10px;
}

.data-list-scetion {
    width: 50%;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td,
table th {
    border: 1px solid #ddd;
    padding: 8px;
}
table tr th{
    text-align: center;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}
footer{
    background-color: #04AA6D;
    width: 100%;
}
footer p{
    font-weight: bold;
    padding: 20px;
    background: #04AA6D;
    color: #fff;
    text-align: center;
    letter-spacing: 3px;
}
footer p a{
    text-decoration: none;
    color: white;
}

@media(max-width:668px) {

    .main-section {
        flex-direction: column;
    }

    .scanner-section,
    .data-list-scetion {
        width: 100%;
    }
}
